---
// components imports
import { Button } from "./ui/button";
import LinkedIn from "./icons/LinkedIn.astro";
import DownloadArrow from "./icons/DownloadArrow.astro";

// config import
import { ME } from "@/config.ts";

const resume = "/" + ME.contactInfo.resumeDoc;
const { linkedin } = ME.contactInfo;
---

<div class="profile-action-buttons w-full flex gap-2">
  <Button
    data-cv={resume}
    id="cvBtn"
    size={"lg"}
    className="[&_svg]:size-8 px-4 md:px-8 h-14 cv-btn flex-1 text-n700 bg-primary-light dark:bg-primary-dark hover:bg-primary-hover-light dark:hover:bg-primary-hover-dark"
  >
    Descargar CV
    <DownloadArrow width={24} height={24} />
  </Button>

  <Button
    size="icon"
    className="[&_svg]:size-8 h-14 w-14 li-btn flex-none text-n700 dark:text-n200 bg-white dark:bg-black hover:bg-grey-500 dark:hover:bg-n700 transition-all"
  >
    <a href={linkedin} aria-label="my linkedIn profile link" target="_blank">
      <LinkedIn width={24} height={24} />
    </a>
  </Button>
</div>

<script>
  const cvBtn = document.getElementById("cvBtn");
  const resume = cvBtn.dataset.cv;

  cvBtn.addEventListener("click", () => {
    const link = document.createElement("a");
    link.href = resume;
    link.download = "CV_Ricardo_Moreno.pdf";
    link.click();
  });
</script>
